@font-face {
    font-family: av-ultralight;
    src: url("../fonts/AvenirNext-UltraLight.ttf") format("opentype");
}
@font-face {
    font-family: av-regular;
    src: url("../fonts/AvenirNext-Regular.ttf") format("opentype"); 
}
@font-face {
    font-family: av-demibold;
    src: url("../fonts/AvenirNext-DemiBold.ttf") format("opentype");
}
@font-face {
    font-family: av-ultralight-italic;
    src: url("../fonts/AvenirNext-UltraLightItalic.ttf") format("opentype");
}
@font-face
{
    font-family : av-regular-italic;
    src: url("../fonts/AvenirNext-Italic.ttf") format("opentype");
}


.regular {
    font-family: av-regular;
}
.light {
    font-family: av-ultralight;
}
.light-italic
{
    font-family: av-ultralight-italic;
}
.bold
{
    font-family: av-demibold;
}
.dark
{
    color: #4a4a4a;
}

.footer-note p
{
    font-family: av-regular;
    font-size: 1em;
    text-align: center;
    color : #ffffff;
}

footer
{
    background-color : #1abc9c;
}

li
{
    color : #ffffff;
}

.footer-link
{
    color : #ffffff;
    font-family: av-regular;
}
/*
* Base structure
*/

html,
body {
    height: 100%;
}
.content-main {
    height: 100%;
    background-color: #34495e;
}


@media only screen and (max-width: 767px) and (orientation: landscape) {
    .logo-header {
        max-height: 25%;
    }
    .large-button {
        margin-bottom: 10px;
        font-size: 1.2em;
        padding: 0.2em;
    }
    .intro-text {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .intro-text p {
        line-height: 0.7;
        font-size: 1.2em;
    }

}

@media only screen and (max-width: 767px) and (orientation: portrait), only screen and (min-width: 768px) {
    .logo-header {
        width: 50%;
        max-width: 300px;   
    }
    .large-button {
        margin-bottom: 30px;
        font-size: 1.5em;
        padding: 0.3em;
    }
    .intro-text {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .intro-text p {
        line-height: 1;
        font-size: 1.5em;
    }

}

.logo-header {
    margin-top 25px;
}

/* background crazyness */
.main-background {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('https://c2.staticflickr.com/6/5657/21910039498_907e679b57_h.jpg');
    background-size: cover;
    width:100%;
}

@media screen and (min-width: 768px) {
    .main-background {
        height: calc(100% - 7em);
        margin-top: 0;
    }
    .col-wrapper {
        width: 80%;
    }
    .large-button {
        width: 25%;
        min-width: 125px;
        max-width: 150px;
    }
}

@media screen and (max-width: 767px) {
    .main-background {
        height: calc(100% - 50px);
        margin-top: 50px;
    }
    .col-wrapper {
        width: 90%;
    }
    .large-button {
        width: 50%;
    }
}


.horizontal-center-container {
    text-align: center;
}

.center-container {
    position : absolute;
    width : 100%;
    /*    height: 100%;*/
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;

}

.center-container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.top-center-box {
    width : 99%;
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}


.intro-text p {
    font-family: av-regular;
    font-size: 1.6em;
}

.large-button {
    font-family: av-regular;
    margin-right: 25px;
    margin-left: 25px;
    color:white;
    vertical-align: middle;
}

.apply-button {
    background: #337ab7;
    border-color: #2e6da4;
}
.apply-button:hover, .apply-button:focus, .apply-button:active, .apply-button.active, .open > .dropdown-toggle.apply-button {
    background: #2e6da4;
    border-color: #2e6da4;
}

.sponsor-button {
    background: #f0ad4e;
    border-color: #eea236;
}

.sponsor-button:hover, .sponsor-button:focus, .sponsor-button:active, .sponsor-button.active, .open > .dropdown-toggle.sponsor-button {
    background: #eea236;
    border-color: #eea236;
}



@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
/* general styles */
body {
    font-family: av-regular;
    text-align: center;
    color: #fff;
    background: #2a2a2a; }

:hover {
    transition: color linear .15s;
    transition: color linear .15s; }


/* breadcrumbs */

.nav-wrapper {
    width: 100%;
    min-height: 70px;
    background: white;
}

.nav-set-height {
    height: 7em;
}

.breadcrumbs {
    font-size: 1em;
    width: 100%;
}

.breadcrumbs-center {
    margin-top: 0.75em;
}
.breadcrumbs li {
    display: inline-block;
    border: 0.2em solid #fff;
    font-size: 1.2em;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 2%;
    margin-left: 2%;
    height: 4em;
}
.breadcrumbs li a {
    color: #888; }
.breadcrumbs li a:hover, .breadcrumbs li a:active, .breadcrumbs li a:focus, .breadcrumbs li a:active:focus, .breadcrumbs li a:focus:active {
    background: inherit; }
.breadcrumbs #about-crumb.active, .breadcrumbs #about-crumb:hover {
    border-bottom-color: #d63756; }
.breadcrumbs #home-crumb.active, .breadcrumbs #home-crumb:hover {
    border-bottom-color: #47adaa; }
.breadcrumbs #faq-crumb.active, .breadcrumbs #faq-crumb:hover {
    border-bottom-color: #fdcb5e; }
.breadcrumbs #beginner-crumb.active, .breadcrumbs #beginner-crumb:hover {
    border-bottom-color: #3c9cdc;
}
.breadcrumbs #schedule-crumb.active, .breadcrumbs #schedule-crumb:hover {
    border-bottom-color: #8e44ad; 
}

.breadcrumbs #sponsor-crumb.active, .breadcrumbs #sponsor-crumb:hover {
    border-bottom-color:#1abc9c;}

.breadcrumbs #partner-crumb.active, .breadcrumbs #partner-crumb:hover {
    border-bottom-color: #202f57;}


.nav-wrapper.stick {
    position: fixed;
    top: 0;
    z-index: 10000;
}

#about {
    height: auto;
}

#map {
    height: 30em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background: #d3d3d3;
    margin-bottom: 50px;
}

.section-heading {
    font-family: av-demibold;
    font-size: 2.5em;
    text-align: center;
}

#faq {
    background-image: url("../img/gym-blur.jpg");
    background-size: cover;
}

.faq-item {
    margin: 16px;
    text-align: left;
}

.faq-item h3 {
    font-family: av-demibold;
    font-size: 1.7em;
    color: ##FEA620;
}

p {
    font-family: av-regular;
    font-size: 1.3em;
    color: white;
}

.faq-item a {
    font-family: av-regular;
    color: #3498db;
}


@media screen and (min-width: 340px) {
    .schedule-item p {
        display: inline-block;
    }
}
.schedule-item p {
    font-family: av-regular;
    font-size: 1.2em;
}


.schedule-item {
    text-align: left;
    margin-top: 0.5em;
}

#beginner .intro {
    font-family: av-regular-italic;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 20px;
    margin-bottom: 10px;
}

#beginner p {
    text-align: left;
}

#beginner {
    margin-bottom: 50px;
}

#beginner h3 {
    font-family: av-demibold;
    font-size: 1.7em;
    margin-bottom: 0.8em;
}

#beginner b {
    font-family: av-demibold;
}

.col-wrapper {
    margin-right: auto;
    margin-left: auto;
    overflow: auto;
    max-width: 800px;
}

.col-md-6 {
    overflow: auto;
}


@media screen and (min-width: 991px) {
    .col-right-align {
        float: right;
        padding-right: 4em;
    }
    .col-left-align {
        float: left;
        padding-left: 4em;
    }

}

.time {
    color: #FEA620;
    width: 90px;
}

#schedule {
    background-color: #2980b9;
    background-image: url("../img/gym-blur.jpg");
    background-size: cover;
    padding-bottom: 50px;
}

#schedule h4 {
    font-family: av-demibold;
    font-size: 1.55em;
    color: white;
    text-align: center;
}

.schedule-note {
    margin-top: 10px;
    margin-bottom: 0px;
}
.auto-width {
    width: auto;
}

#partners {
    background-color: white;
}

#partners p {
    color: #4a4a4a;
}

#partners h2 {
    color: #4a4a4a;
}

#partners a {
    text-decoration:none;
}

#sponsors a {
    text-decoration: none;
}

#sponsors h2 {
    color: #4a4a4a;
}

#sponsors {
    background-color: white;
    padding-bottom: 18px;
}

#partners img {
    max-height: 8em;
    margin-left: 3.5em;
    margin-right: 3.5em;
    vertical-align: middle;
    margin-bottom: 3.5em;
    max-width: 20em;
}

.partners-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

.bronze-sponsor {
    max-height: 8em;
    margin-left: 3.5em;
    margin-right: 3.5em;
    vertical-align: middle;
    margin-bottom: 2em;
    max-width: 20em;
}

.silver-sponsor {
    max-height: 12em;
    margin-left: 3.5em;
    margin-right: 3.5em;
    vertical-align: middle;
    margin-bottom: 2em;
    max-width: 25em;
}

.img-wrapper {
    padding-top: 2em;
    display: inline-block;
}

.faq-item a {
    color: white;
    text-decoration: underline;
}

.faq-item a:hover {
    text-decoration: none;
}

#about {
    padding-top: 20px;
}

#about p {
    font-size: 1.5em;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.nav-marker {
    position: relative;
    bottom: 70px;
}

.nav-adjust {
    margin-top: 57px;
}