#footer {
    font-size: 16px;
}

#header p {
    font-size: 26px;
    color: white;
    font-weight:bold;/*250;*/
    margin:0;
}

#header {
    text-align: center;
    position: relative;
    bottom: 25px;
}

#logo {
    position: absolute;
    top: 15px;
    left: 15px;
}

#logoHeader {
    height: 150px;
}

#signup-form {
    margin: 0 auto;
    margin-top: 30px;
    width: 325px;
}

#signup-form input {
    border-radius: 3px;
}

#signup-form input[type=submit] {
    background-color: #0161aa;
}

#signup-form input:focus {
    border-color: #0161aa;
}

body {
    /*background-image:url(https://www.menloschool.org/photo-submission/submitted_photos/122-PZ20150508-001.jpg?1444633200);*/
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('https://c2.staticflickr.com/6/5657/21910039498_907e679b57_h.jpg');
    background-size: cover;
}